body {
    background-color: #00bcd4;
    margin: 0;
    padding: 0;
    height: 100vh; 
    overflow: hidden;
}
#shark {
    top: 400px; 
    position: absolute;
    animation-name: Shark;
    animation-duration: 7s; 
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
@keyframes Shark {
    0% { left: 100px; top: 400px; transform: scaleX(1); }
    20% { left: 300px; top: 400px; }
    40% { left: 500px; top: 300px; }
    50% { left: 600px; top: 50px; }
    60% { left: 600px; top: 100px; }
    80% { left: 500px; top: 200px; }
    100% { left: 100px; top: 400px; transform: scaleX(-1); }
}
#diver1 {
    position: absolute;
    left: 400px;
    top: 100px;
    animation-name: DiverUpDown;
    animation-duration: 10s; 
    animation-timing-function: ease-in-out; 
    animation-iteration-count: infinite;
    animation-direction: alternate; 
}
@keyframes DiverUpDown {
    0% { top: 100px; } 
    100% { top: 700px; } 
}

#turtle {
   top: 400px; 
    position: absolute;
    animation-name: Shark;
    animation-duration: 15s; 
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
@keyframes DiverUpDown {
    0% { top: 100px; } 
    100% { top: 700px; } 
}